cite {
	font-weight: bold;
}

.award {
	font-weight: bold;
	color: var(--lavender) !important;
}

.pubs-list {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 2em;
}

.pubs-list li {
	margin: 0.75em 0em 0.75em 2em;
}

.pubs-list > li:before {
    left: -40px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    width: 40px;
}

.bio-header {
	padding-top: 0.25em;
	padding-bottom: 0.5em;
}

.focus-list {
	position: relative;
	margin: 1em !important;
	overflow: hidden;
}

ul.focus-list {
	font-family: var(--tt-font);
	display: flex;
	list-style: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -1px;
}

.focus-list > li {
	flex-grow: 1;
	flex-basis: auto;
	margin: 0.2em 0px;
	padding: 0px 0.2em;
	text-align: center;
}

.focus-list > li:not(:first-child) {
	border-left: 6px double var(--secondary);
}

.news-list {
	margin-bottom: 0px;
}

.news-list tr {
	border-color: var(--secondary);
}

.academicons {
	text-align: center;
	font-size: 4rem;
	color: var(--secondary);
}

.bootstrap .academicons a {
	color: var(--secondary);
}
