:root {
	--bg-color: white;
	--bg-shadow-color: #f8f9fa; /* gray-100 */
	--quote-border-color: #e9ecef; /* gray-200 */
	--quote-text-color: #212529; /* gray-900 */
	/*--tt-font: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;*/
	--tt-font: monospace;
}

tt {
	font-family: var(--tt-font);
}

body {
	background-color: var(--bg-color);
}

h2 {
	display: flex;
	justify-content: center;
	width: 100%;
}

summary {
	font-weight: bold;
}

.date-item {
	font-family: var(--tt-font);
	padding-left: 2em;
	padding-right: 0.5em;
	text-align: right;
}

.date-list {
	border-spacing: 1em;
}

.quote-block {
/*	background-color: var(--bg-quote-color); */
	box-shadow: inset -2px -2px 8px 4px var(--bg-shadow-color);
	border: 1px solid var(--quote-border-color);
	padding: 0.5rem 0.5rem;
}

.bg-custom {
	/* royal purple - blue gradient */
	background: linear-gradient(to right, rgba(69, 39, 160, 1) 0%, rgba(40, 53, 147, 1) 100%);
}

/* Modified from Example 1 of https://onaircode.com/bootstrap-horizontal-line-examples/ */
.hr-text {
	line-height: 1em;
	position: relative;
	/* Get rid of OG line (to be above text) */
	outline: 0;
	border: 0;
	height: 1.5em;
	/* opacity: 0.75; */

	color: black;
	text-align: center;
	font-family: var(--tt-font);
}
.hr-text::before {
	content: '';
	/* fading effect */
	background: linear-gradient(to right, transparent, var(--quote-text-color), transparent);
	position: absolute;
	left: 0;

	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text::after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;

	padding: 0 .5em;
	line-height: 1.5em;
	color: var(--quote-text-color);
	background-color: var(--bg-color);
}

/* Customized Bootstrap seletors */
.card-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}



