:root {
	/* TODO: Fix toggle for light mode */
	--bg-color: #191d21;
	--bg-shadow-color: rgba(255,255,255,0.03);
	--quote-border-color: rgba(255,255,255,0.125);
	--quote-text-color: #f8f9fa;
	--lavender: #B57EDC;
	--vivid-blue: #007bff;
	--colonizer-purple: rgb(69, 39, 160);
	--colonizer-blue: rgb(42, 53, 147);
	/*--tt-font: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;*/
	--tt-font: monospace;
}

tt {
	font-family: var(--tt-font);
}

h2 {
	display: flex;
	justify-content: center;
	width: 100%;
}

details {
	border: 1px solid var(--quote-border-color);
	margin: 1em 0 1em 0;
	padding: 4px;
}

details[open] > p {
	padding: 0 1em;
}

details > summary {
	padding: 0;
	font-weight: bold;
}
details[open] > summary {
	margin-bottom: 1em;
}

:not(sup) > a {
	color: var(--vivid-blue);
}

::selection {
	background-color: var(--lavender);
	color: var(--bg-color);
}

/* title text */
.display-4 {

}

/* Stressed text */
.text-primary {
	font-weight: bolder;
	color: var(--lavender) /* override Bootstrap dark extension *sigh* */ !important;
}

.bi::before {
	color: white;
}

.date-item {
	font-family: var(--tt-font);
	padding-left: 2em;
	padding-right: 0.5em;
	text-align: right;
}

.date-list {
	border-spacing: 1em;
}

.quote-block {
/*	background-color: var(--bg-quote-color); */
	box-shadow: inset -2px -2px 8px 4px var(--bg-shadow-color);
	border: 1px solid var(--quote-border-color);
	padding: 0.5rem 0.5rem;
}

.bg-custom {
	/* royal purple - blue gradient */
	background: linear-gradient(to right, var(--colonizer-purple), var(--colonizer-blue));
}

/* Modified from Example 1 of https://onaircode.com/bootstrap-horizontal-line-examples/ */
.hr-text {
	line-height: 1em;
	position: relative;
	/* Get rid of original line (now above text) */
	outline: 0;
	border: 0;
	height: 1.5em;

	color: var(--quote-text-color);
	text-align: center;
	font-family: var(--tt-font);
}
.hr-text::before {
	content: '';
	/* faded-dashes on middle-line */
	background-image: linear-gradient(90deg, transparent, transparent 50%, var(--bg-color) 50%, var(--bg-color) 100%), linear-gradient(90deg, transparent, var(--quote-text-color), transparent);
	background-size: 20px 1px, 100% 1px;
	border: none;
	position: absolute;
	left: 0;

	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text::after {
	/* Replace middle of center-line with black text */
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: var(--quote-text-color);

	padding: 0 .5em;
	line-height: 1.5em;
	color: var(--quote-text-color);
	background-color: var(--bg-color);
}

.bootstrap hr {
	height: 1px !important;
}

/* Customized Bootstrap seletors */
.card-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.breadcrumbs {
	padding: 0px 1em;
	list-style: none;
	white-space: nowrap;
}

.breadcrumbs li {
	display: inline-block;
	font-size: 18px;
	position: relative;
}
/*
	margin: 0 9px 0 -10px;
	padding: 0 15px;
	position: relative;
}

.breadcrumbs li:first-of-type {
	padding: 0px 20px 0px 0px;
}

.breadcrumbs li::before,
.breadcrumbs li::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);   
}
.breadcrumbs li::after {
    bottom: 1px;
    top: auto;
    transform: skewX(-45deg);
}

.breadcrumbs li:last-of-type::before, 
.breadcrumbs li:last-of-type::after { 
    display: none; 
}
*/

.breadcrumbs li a {
	font-weight: bold;
}


nav.breadcrumbs li+li:before {
	padding: 1em;
	/*content: "/\00a0";*/
	content: ">";
	font-family: var(--tt-font);
}


/*nav.breadcrumbs li a {
	color: #212529;
}
