*, ::after, ::before {
    box-sizing: border-box;
}

/*
References:
- https://stackoverflow.com/a/60618241
- https://github.com/w3c/csswg-drafts/issues/6738#issuecomment-946077892
*/

.citation {
	font-family: var(--tt-font);
}

h3 {
	margin-bottom: 1em !important;
}

cite {
	font-weight: bold;
}

.award {
	font-weight: bold;
	color: var(--lavender) !important;
}

.pubs-list {
	counter-reset: list-item;
}

/* only works properly on firefox */
/*
.pubs-list[reversed] {
    counter-reset: reversed(list-item);
}

.pubs-list[reversed][start] {
  counter-reset: reversed(list-item) calc(attr(start integer) + 1);
}
*/

.pubs-list > li:before {
    content: "[" counter(list-item) "]";
/*	font-family: math; */
	font-family: monospace;
    counter-increment: list-item 0; /* Already handled? */
    left: -40px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    width: 40px;
}
